.next-projections-container {
    width: 55%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 3vh;
    /* media */
}

.next-projections-title {
    padding: 3.2vh 0;
    font-size: 1.5em;
    letter-spacing: 0.03vw;
    /* font-weight: bold; */
}

.next-projections-tab {
    padding: 2vh;
    display: flex;
    border-top: 1px solid white;
    align-items: center;
}

.next-projections-day {
    flex-basis: 20%;
}

.custom-btn-next {
    outline: none;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    margin-right: 0.45vh;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-7 {
    background: #fff;
    color: #000;
    line-height: 42px;
    padding: 0;
    border: none;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.btn-7:hover {
    background: transparent;
    color: orange;
    font-weight: bold;
}

.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 50%;
    right: 0;
    z-index: -1;
    background: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.btn-7:before {
    top: 0;
}

.btn-7:after {
    bottom: 0;
}

.btn-7:hover:before,
.btn-7:hover:after {
    height: 0;
    background-color: #fff;
}

.no-projections-scheduled {
    border-top: 1px solid white;
    padding: 2vh 0;
    font-size: 0.85em;
}

.inactive-btn {
    cursor: not-allowed;
    pointer-events: none;
    color: rgb(200, 200, 200);
}

@media only screen and (max-width: 1850px) {
    .next-projections-container {
        width: 60%;
        margin: 0 auto 3vh;
    }
}

@media only screen and (max-width: 1550px) {
    .next-projections-container {
        width: var(--content-width);
        margin: 0 auto 2vh;
    }
}