.payment-container {
    width: 55%;
    margin: 8vh auto 0;
    padding: 2vh;
    border: 1px solid black;
    border-radius: var(--radius);
    background-color: white;
    /* media */
}

.payment-info-container {
    /* margin: 0 30vh;
    border: 1px solid black; */
    display: flex;
    gap: 5vh;
    border-bottom: 1px solid black;
    padding-bottom: 1vh;
}

.projection-info-container {
    line-height: 1.2em;
    flex: 1;
    text-align: end;
}

.ticket-info-container {
    line-height: 1.2em;
    flex: 1;
}

.total-price {
    text-align: end;
    padding-top: 1.5vh;
    padding-right: 3vh;
    font-weight: bold;
}

@media only screen and (max-width: 1550px) {
    .payment-container {
        margin: 7vh auto 0;
    }
}