.credit-card-payment-container {
    margin-top: 6vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr 0.25fr repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 4px;
    position: relative;
    }
    
.credit-card-icons {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.75rem;
}
    
    .pay1 {
        grid-area: 1 / 1 / 2 / 21;
        color:rgb(128, 128, 128, 0.85);
        font-size: 1.15em;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
    .pay2 { grid-area: 3 / 1 / 4 / 21; }
    .pay3 { grid-area: 4 / 1 / 5 / 21; }
    .pay4 { grid-area: 6 / 1 / 7 / 21; }
    .pay5 { grid-area: 7 / 1 / 8 / 21; }
    .pay6 { grid-area: 9 / 1 / 10 / 7; }
    .pay7 { grid-area: 10 / 1 / 11 / 7; }
    .pay8 { grid-area: 9 / 8 / 10 / 14; }
    .pay9 { grid-area: 10 / 8 / 11 / 14; }
    .pay10 { 
        grid-area: 9 / 15 / 11 / 21; 
        border: 1px solid black;
        border-radius: var(--radius);
        padding: 1.5vh 2vh;
        background-color: rgb(244, 151, 2);
        font-size: 1.1rem;
        font-weight: bold;
        user-select: none;
        cursor: pointer;
        text-align: center;
    }