.program-movie-card {
    min-height: 29vh;

    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}

.program-movie-tab {
    display: flex;
    padding: 1vh;
}

.program-movie-poster-wrapper {
    flex-basis: 16%;
    overflow: hidden;
}

.program-movie-poster {
    width: 100%;
    user-select: none;
}

.program-movie-poster:hover {
    cursor: pointer;
}

.program-movie-info {
    margin: 0 2vw;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}

.program-movie-info>div {
    min-height: 50px;
    /* border: 1px solid black; */
}

.program-movie-header {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-size: 1.1rem;
    /* media */
}

.program-movie-header>div {
    padding-top: 3%;
    /* media */
}

.program-movie-title-wrapper {
    flex: 4;
}

.program-movie-title {
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
}

.program-movie-title:hover {
    color: rgb(149, 40, 0);
    transition: 0.3s;
    cursor: pointer;
}

.program-movie-category {
    flex: 1;
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 8%;
}

.program-movie-category-hover-hidden {
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1vh;
    margin-right: 7vw;
    /* media */
}

.program-movie-rating {
    flex: 1.2;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 5%;
    text-align: end;
}

.custom-btn-program {
    outline: none;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.btn-4 {
    background: #fff;
    color: #000;
    line-height: 42px;
    padding: 0;
    border: none;
    border-radius: var(--radius);
}

.btn-4:hover {
    background: transparent;
    color: #000;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}

.btn-4:before,
.btn-4:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #fff;
    transition: 400ms ease all;
}

.btn-4:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-4:hover:before,
.btn-4:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;

    background-color: rgba(255, 255, 255, 0.35);
    color: rgba(0, 0, 0, 0.5);
    /* text-decoration: line-through; */
}

@media only screen and (max-width: 1850px) {
    .program-movie-category-hover-hidden {
        font-size: 0.8rem;
        margin-top: 0.5vh;
    }

    .program-movie-header {
        font-size: 0.9rem;
    }

    .program-movie-header>div {
        padding-top: 1.5%;
    }
}