.program-movie-card {
    height: 29vh;

    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: 1px solid black;
}

.program-movie-tab {
    display: flex;
    padding: 1vh;
}

.program-movie-poster-wrapper {
    flex-basis: 16%;
    height: 27vh;
    /* margin: 1vh 1vh; */

    overflow: hidden;
}

.program-movie-poster {
    width: 100%;
    user-select: none;
}

.program-movie-poster:hover {
    cursor: pointer;
}

.program-movie-info {
    margin: 0 2vw;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}

.program-movie-info>div {
    min-height: 50px;
    /* border: 1px solid black; */
}

.program-movie-header {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.program-movie-header>div {
    padding-top: 3%;
}

.program-movie-title-wrapper {
    flex: 4;
}

.program-movie-title {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
}

.program-movie-title:hover {
    color: rgb(149, 40, 0);
    transition: 0.3s;
    cursor: pointer;
}

.program-movie-category {
    flex: 1;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 8%;
}

.program-movie-category-hover-hidden {
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1vh;
    margin-right: 7vw;

    /* media */
}

.program-movie-rating {
    flex: 1.2;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 5%;
    text-align: end;
}

.program-movie-projections-grid {
    flex: 1;
}

.program-movie-projections-grid button {
    cursor: pointer;
    margin: 0 1vh;
    border: 1px solid black;
    border-radius: var(--radius);
    background-color: var(--clr-gray100);

}

.program-movie-projections-grid button:hover {
    transition: 0.3s;
    background-color: var(--clr-gray200);
}

@media only screen and (max-width: 1850px) {
    .program-movie-category-hover-hidden {
        font-size: 0.8rem;
        margin-top: 0.5vh;
    }
}