.program-movie-card {
    height: 29vh;

    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: 1px solid black;
}

.program-movie-tab {
    display: flex;
}

.program-movie-poster-wrapper {
    flex-basis: 16%;
    height: 27vh;
    margin: 1vh 1vh;
    
    overflow: hidden;
}

.program-movie-poster {
    width: 100%;
}

.program-movie-info {
    flex-basis: 80%;
}