.movie-list-container {
    background-color: black;
    position: relative;
}

.movie-tabs-container {
    padding: 0.5%;
    border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid black;
    margin: 0 auto;
    width: var(--content-width);
    overflow: hidden;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-tab {
    border-radius: 0.4rem;
    min-height: 52px;
    background-color: var(--clr-primary);
    min-width: 170px;
    width: 170px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0 3px;
}

.active, .movie-tab:hover {
    background-color: rgb(220, 220, 220);
    color: rgba(0, 0, 0, 0.85);
    transition: 0.3s;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.85);
}

.movie-tab:first-child {
    margin-left: 40rem;
}

.movie-tab:last-child {
    margin-right: 40rem;
}

.movie-card-container {
    border-radius: var(--radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 auto;
    width: var(--content-width);
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow: hidden;
    min-height: 53vh;
    /* media */
}

.searchBar {
    position: absolute;
    right: 37.75vh;
    top: 2.76vh;
    /* media */
}

@media only screen and (max-width: 1850px) {
    .movie-tab {
        min-width: 150px;
        width: 150px;
    }

    .movie-tab:first-child {
        margin-left: 36rem;
    }

    .movie-tab:last-child {
        margin-right: 36rem;
    }

    .searchBar {
        right: 35vh;
        top: 3.2vh;
    }
}

@media only screen and (max-width: 1950px) {
    .searchBar {
        right: 36.5vh;
    }
}