.movie-list-container {
    background-color: rgba(0, 0, 0, 0.55);
}

.movie-tabs-container {
    padding: 0.5%;
    border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid black;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-tab {
    border-radius: 0.4rem;
    min-height: 52px;
    background-color: white;
    min-width: 170px;
    width: 170px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
}

.active, .movie-tab:hover {
    background-color: rgb(220, 220, 220);
    color: rgba(0, 0, 0, 0.85);
    text-shadow: -1px 1px;
    transition: 0.3s;
}

.movie-tab:first-child {
    margin-right: auto;
    margin-left: 40rem;
}

.movie-tab:last-child {
    margin-left: auto;
    margin-right: 40rem;
}

@media only screen and (max-width: 1850px) {
    .movie-tab {
        min-width: 150px;
        width: 150px;
    }

    .movie-tab:first-child {
        margin-left: 36rem;
    }

    .movie-tab:last-child {
        margin-right: 36rem;
    }
}

.movie-card-container {
    border-radius: var(--radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 auto;
    width: var(--content-width);
    background-color: orange;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow: hidden;
}

/* 
.movie-card-container::after {
    content: "";
    width: 16.15vw;
} */