.purchase-container {
    width: var(--content-width);
    margin: 0 auto;
    padding: 13vh;
    height: 100vh;
}

.purchase-stage {
    display: flex;
    margin-bottom: 6vh;
    font-size: 1.4rem;
    text-align: center;
    justify-content: space-around;
}

.purchase-stage>div {
    /* flex: 1; */
    padding: 10px 0;
    color: var(--clr-gray300);
}

.purchase-stage .active-stage {
    color: black;
}

.buy-or-reserve-container {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.ticket-btn {
    position: relative;
    width: 27vh;
    cursor: pointer;
    background: white;
    border: 1px solid orange;
    border-radius: var(--radius);
    padding: 5vh;
    margin: 0 2vh;
    font-size: 1.2rem;
    font-weight: bold;
}

.ticket-btn:hover {
    background: orange;
    transition: 0.3s ease-in;
}

.ticket-checkbox {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%); 

    font-size: 2em;
    border: 1px solid black;
    border-radius: 50%;
    background: orange;
}

.activated-tick {
    opacity: 1;
}

.activated-ticket {
    background-color: orange;
}

.ticket-or {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.purchase-info-container {
    display: flex;
    margin-top: 5vh;
}

.purchase-projection-info {
    flex-basis: 40%;
    display: flex;
    line-height: 1.4em;
}

.purchase-ticket-type-menu {
    flex-basis: 60%;
}

.purchase-projection-info-headers {
    flex-basis: 25%;
}

.purchase-projection-info-contents {
    flex-basis: 75%;
}

.info-movie-title {
    max-height: 2.3vh;
    overflow: hidden;
}