.purchase-container {
    width: var(--content-width);
    margin: 0 auto;
    padding: 13vh;
    height: 100vh;
}

.choose-disclaimer {
    text-align: center;
    margin-bottom: 3.5vh;
    line-height: 1.1rem;
}

.buy-or-reserve-container {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.ticket-btn {
    position: relative;
    width: 27vh;
    cursor: pointer;
    background-color: white;
    border: 1px solid orange;
    border-radius: 0.9rem;
    padding: 4.2vh 7.5vh;
    margin: 0 2vh;
    font-size: 1.2rem;
    font-weight: bold;
}

.ticket-btn:hover {
    background: orange;
    transition: 0.3s ease-in;
}

.ticket-checkbox {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2em;
    border: 1px solid black;
    border-radius: 50%;
    background: orange;
}

.activated-tick {
    opacity: 1;
}

.activated-ticket {
    background-color: orange;
}

.ticket-or {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.purchase-info-container {
    display: flex;
    margin-top: 5vh;
    padding: 0.5vh 0;
}

.purchase-projection-info {
    flex-basis: 40%;
    display: flex;
    line-height: 1.51em;
    padding: 1vh 0;
    padding-left: 2.5vh;
    margin-right: 3vh;
    border: 1px solid black;
    border-radius: var(--radius);
    background-color: rgba(255, 255, 255, 0.7);
}

.purchase-ticket-type-menu {
    flex-basis: 60%;
}

.purchase-projection-info-headers {
    flex-basis: 25%;
}

.purchase-projection-info-contents {
    flex-basis: 75%;
}

.info-movie-title {
    max-height: 2.6vh;
    overflow: hidden;
    /* media */
}

.purchase-ticket-grid {
    flex-basis: 55%;
    display: grid;
    grid-template-columns: repeat(11, 1fr) 0.2fr repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 3px;
    width: 100%;
    align-items: center;
    /* text-align: center; */
    border: 1px solid black;
    border-radius: var(--radius);
    padding: 0 0 0.2vh 2.5vh;
    background-color: rgba(255, 255, 255, 0.7);
}

.sel1 {
    grid-area: 1 / 1 / 2 / 5;
}

.sel2 {
    grid-area: 2 / 1 / 3 / 5;
}

.sel3 {
    grid-area: 3 / 1 / 4 / 5;
}

.sel4 {
    grid-area: 1 / 6 / 2 / 9;
}

.sel5 {
    grid-area: 2 / 6 / 3 / 7;
}

.sel6 {
    grid-area: 2 / 7 / 3 / 8;
}

.sel7 {
    grid-area: 2 / 8 / 3 / 9;
}

.sel8 {
    grid-area: 3 / 6 / 4 / 7;
}

.sel9 {
    grid-area: 3 / 7 / 4 / 8;
}

.sel10 {
    grid-area: 3 / 8 / 4 / 9;
}

.sel11 {
    grid-area: 1 / 10 / 2 / 12;
}

.sel12 {
    grid-area: 2 / 10 / 3 / 12;
}

.sel13 {
    grid-area: 3 / 10 / 4 / 12;
}

.sel14 {
    grid-area: 1 / 13 / 2 / 15;
}

.sel15 {
    grid-area: 2 / 13 / 3 / 15;
}

.sel16 {
    grid-area: 3 / 13 / 4 / 15;
}

.sel5, .sel7, .sel8, .sel10 {
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
}

.sel6, .sel9 {
    text-align: center;
    padding-bottom: 2px;
}

.sel4 {
    text-align: center;
}

.purchase-ticket-grid>div {
    user-select: none;
}

.purchase-disclaimer-and-total-sum-container {
    position: relative;
    margin-top: 4vh;
}

.purchase-total-sum {
    position: absolute;
    right: 5vh;
    font-size: 2rem;
    font-weight: bold;
}

.purchase-continue-btn {
    position: absolute;
    right: 5vh;
    top: 10vh;
    border: 1px solid black;
    border-radius: var(--radius);
    padding: 1.5vh 2vh;
    background-color: rgb(244, 151, 2);
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.purchase-continue-btn:hover {
    background-color: orange;
    transition: 0.3s;
}

@media only screen and (max-width: 1850px) {
    .info-movie-title {
        max-height: 3.35vh;
    }
}