@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,400&display=swap');

:root {
  /* color variables */
  --clr-primary: #ffffff;
  --clr-primary-hover: #e4e4e4;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /* border radius */
  --radius: 0.2rem;

  /* content width */
  --content-width: 70%;

  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--clr-gray100);
  height: 100%;
}